body{
    background-image: url("../back.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
#juego {
    width: 31rem;
    height: 31rem;
    background-color: rgb(97, 41, 4);
    display: flex;
    margin: auto auto;
    padding: 1.2rem;
    border-radius: 5px;
    color: rgb(97, 41, 4);
    font-size: 3rem;
}

#col0,#col1,#col2,#col3{
    background: radial-gradient(rgb(214, 182, 168),rgb(207, 148, 121));
}
.pieza{
    width: 7.6rem;
    height: 7.6rem;
    border: 1px solid rgb(97, 41, 4);
    text-align: center;
    line-height: 7.7rem;
    vertical-align: middle;
}
.pieza:hover{
    background-color: rgb(168, 134, 111);
    cursor:pointer;
}